	<style type="text/css">
		*{
			box-sizing: border-box;
			font-family: Cambria;
		}
		h1{
			text-align: center;
			font-size: 30px
		}
		/**************/
		.p1{
			width: 400px;
			background-color: gray;
			border:3px solid black;
			padding: 10px;

		}
		.p2{
			width: 400px;
			background-color: gray;
			border:3px solid black;
			padding: 10px;
			
		}
		.p3{
			width: 400px;
			background-color: gray;
			border:3px solid black;
			padding:10px;

		}
		.c{
			font-size: 20px;
			width: 80px;
			background-color: palevioletred;
			border: 2px solid black;
			float: right;
			padding: 3px;
			position: relative;
			top: -10px;
			left: 10px;

		}
		.b{
			font-size: 20px;
			width: 70px;
			background-color: crimson;
			border: 2px solid black;
			float: right;
			padding: 3px;
			position: relative;
			top: -10px;
			left: 10px;
		}
		.s{
			font-size: 20px;
			width: 60px;
			background-color: palegoldenrod;
			border: 2px solid black;
			float: right;
			padding: 3px;
			position: relative;
			top: -10px;
			left: 10px;
		}
		@media (max-width: 992px){
			.p1{
				width: 33%;
			}
			.p2{
				width: 33%
			}
			.p3{
				width: 33%;
			}
		}
	</style>